

.CourseOfTreatment {
    width: 300px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.CourseOfTreatment h1 {
    text-align: center;
    color: #333;
}

.CourseOfTreatment form {
    display: flex;
    flex-direction: column;
}

.CourseOfTreatment input[type="text"],
.CourseOfTreatment input[type="number"],
.CourseOfTreatment input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.CourseOfTreatment button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.CourseOfTreatment button:hover {
    background-color: #444;
}