/* L4.css */

body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.L4 button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.L4 button:hover {
    background-color: #555;
}

.L4 table {
    border-collapse: collapse;
    width: 100%;
}

.L4 table, .L4 th, .L4 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.L4 th {
    background-color: #444;
    color: white;
}

.L4 input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1000px;
}