.register-form {
    width: 300px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.register-form label {
    width: 300px;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.register-form input[type="text"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}    

.register-form button:hover {
    background-color: #444;
}