/* Zalecenia.css */

body {
    background-color: black;
    color: white;
    text-align: center;
}

.Zalecenia button {
    background-color: bisque;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Zalecenia table {
    border-collapse: collapse;
    width: 100%;
}

.Zalecenia table, .Zalecenia th, .Zalecenia td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.Zalecenia th {
    background-color: bisque;
    color: black;
}

.Zalecenia input[type="text"] {
    width: 1000px;
}