* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration-line: none;
}

nav {
    background-color: bisque;
    border: 2px solid black; 
    border-radius: 5px; 
}

ul {
    display:flex;
    list-style: none;
    padding: 10px; 
}

li {
    flex-grow: 1;
    border-right: 1px solid black; 
}

li:last-child {
    border-right: none; 
}

a {
    display: block;
    text-align: center;
    padding: 15px 25px;
    text-transform: uppercase;
    color: black; 
}

a:hover {
    color: white;
    background-color: grey; 
}

section { padding-top: 30px; text-align: center; }

.active { border-bottom-color: black; }

.nav-list { display: flex; justify-content: space-between; }

.nav-main li, .nav-auth li { list-style-type: none; border-color: black; }

.nav-main a, .nav-auth a { text-decoration: none; color: black; border-bottom-color: black }

.nav-main a.active, .nav-auth a.active { text-decoration: underline; }